/*---------------------------------------------------------------------- /
Table of Contents 
------------------------------------------------------------------------ /
* 1 - Google Font
* 2 - General styles
* 3 - Header Styles
* 4 - Services Section Styles
* 5 - About Section Style
* 6 - Subscribe Section Styles
* 7 - Portfolio Section Styles
* 8 - Sponsors Section Styles
* 9 - Blog Section Styles
* 10 - Testimonial Section Styles
* 11 - Contact Section Styles 
* 12 - Blog Posts Page Styles
* 13 - Main Content Styles
* 14 - Blog Single Post Styles
* 15 - Sidebar Styles
* 16 - Footer Section Styles
*    16.1 - Footer Top
*    16.2 - Footer Bottom
* 17 - Scroll To Top

------------------------------------------------------------------------ /
Table of Contents End
------------------------------------------------------------------------*/

/* 2 - General styles
---------------------------------------------------------------------- */

html,
body {
    background: #fff;
    font-family: 'Lato', 'Belgrano', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-font-smoothing: subpixel-antialiased !important;
    -ms-font-smoothing: subpixel-antialiased !important;
    -0-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
a {
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    color: #f44336;
}
a:focus {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
}
a:hover {
    color: #f44336;
    text-decoration: none;
}
p {
    color: #a7a7a8;
    font-weight: 400;
    line-height: 23px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}
iframe,
audio {
    width: 100%;
    height: auto;
    border: none;
}
input,
textarea {
    width: 100%;
}
.form-control:focus,
input:focus,
textarea:focus,
button:focus {
    border: 1px solid #cccccc;
    box-shadow: none;
    outline: 0 !important;
}
/* Mozilla based browsers */

::-moz-selection {
    background-color: #f44336;
    color: #fff;
}
/* Works in Safari */

::selection {
    background-color: #f44336;
    color: #fff;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
}
.mfp-container button:focus {
    border: none;
    outline: 0;
}
.section-padding {
    padding: 85px 0px;
}
.section-title {
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 12px;
    text-transform: capitalize;
}
.section-title span {
    color: #f44336;
}
.section-description {
    font-size: 1em;
    font-weight: 300;
    padding: 0px 15%;
}
.section-details {
    display: inline-block;
    padding-top: 30px;
    width: 100%;
}
.btn-container {
    padding-top: 18px;
}
.btn {
    background: transparent;
    border-radius: 0px;
    color: #a7a7a8;
    font-size: .8125em;
    padding: 13px 28px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.media-left {
    padding: 0px;
}
.carousel-control {
    background-image: none !important;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 40px;
}


/* 3 -------- Header Styles ---------*/
.custom-logo-link {
    display: block;
}

.custom-logo {
    max-width: 180px;
    height: 60px;
}
.site-description {
    color: #686868;
    display: none;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.0769230769;
    margin: 0.538461538em 0 0;
}
.header-default{
    background: #fff;
}
.masthead {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    height: 80px;
    z-index: 99999;
}
.navbar-brand {
    margin: 0;
    padding: 0px 15px 0 0;
}
h1.navbar-brand{
    font-size: 20px !important;
}
.navbar-brand a{
    color: #333;
    text-transform: uppercase;
}
.navbar-nav li {
    display: inline-block;
    position: relative;
}
.navbar-nav li a {
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-family: 'Lato';
    font-size: .93rem;
    font-weight: 400;
    /* line-height: 70px; */
    padding: 0 20px;
    text-transform: capitalize;
}

header .navbar-nav a:hover,
header .navbar-nav a:focus,
header .navbar-nav a:focus-within {
    background: none !important;
    box-shadow: none;
    color: #e74c3c;
}
header .navbar-nav>li>a{
    color: #fff;   
}
header .navbar-nav li:hover > .sub-menu,
header .navbar-nav li:focus > .sub-menu,
header .navbar-nav li:focus-within > .sub-menu {
    visibility: visible;
}
header .navbar-nav>li>a:focus, 
header .navbar-nav>li>a:hover{
    color: #fff;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
}
.navbar-nav li .sub-menu {
    border: none;
    border-radius: 0;
    margin: 0;
}
.bg-change {
    background: #333131;
}
.bg-change .navbar-brand {
    padding-top: 8px;
}
.bg-change .navbar-nav li a {
    line-height: 50px;
    padding: 0 20px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        flex-direction: row-reverse;
    }
    .navbar-nav li .sub-menu {
        background: rgba(0, 0, 0, 0.9);
        height: 0;
        list-style: none;
        top: 100%;
        left: 0;
        min-width: 160px;
        margin-left: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;

        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .navbar-nav li:hover  .sub-menu,
    .navbar-nav li:focus  .sub-menu,
    .navbar-nav li:focus-within .sub-menu {
        display: block;
        height: auto;
        opacity: 1;
        overflow: visible;
        top: 52px;
    }
    .navbar-nav li  .sub-menu:hover .sub-menu,
    .navbar-nav li  .sub-menu:focus .sub-menu,
    .navbar-nav li  .sub-menu:focus-within .sub-menu {
        left: 100%;
        top: 0;
    }
    .navbar-nav li  .sub-menu li {
        display: block;
        overflow: hidden;
    }
    .navbar-nav li  .sub-menu li:hover,
    .navbar-nav li  .sub-menu li:focus,
    .navbar-nav li  .sub-menu li:focus-within  {
        overflow: visible;
    }
    .navbar-nav li  .sub-menu a {
        display: block;
        line-height: 25px;
        padding: 5px 15px;
    }
    .navbar-nav li  .sub-menu a:hover {
        background: rgba(0, 0, 0, 0.2);
    }
    .sub-menu li> .sub-menu {
        left: initial !important;
        right: -160px;
        height: 0;
        opacity: 0;
    }
    .sub-menu li:hover> .sub-menu {
        height: auto;
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .navbar-header {
        width: 100%;
    }
    .navbar-toggler {
        float: right;
        margin-top: 8px;
        margin-right: 10px;
    }
    .navbar-toggler i {
        font-style: normal;
    }
    .navbar-nav>li>a,
    .bg-change .navbar-nav>li>a {
        line-height: 25px;
        position: relative;
        width: 100%;
    }
    .navbar-nav>li>a:after {
        float: right;
        margin-top: 10px;
    }
    .navbar-nav .sub-menu {
        background-color: transparent;
        padding-left: 15px;
    }
    .navbar-nav .sub-menu li a {
        line-height: 30px;
    }
}

.logged-in.admin-bar header.fixed-top {
    top: 32px;
}

/* Master Addons Mega Menu Support */
.navbar-nav .sub-menu .menu-item a.nav-link{
    padding: 5px 10px !important;
}

/* / Transparent Header / */

.masthead.transparent-header {
    background-color: transparent !important;
}
.masthead.transparent-header .navbar-nav>li>a {
    color: #000;
}
/* .polmo-lite-page .polmo-lite-gray-bg .section-padding {
    padding: 0;
}
 */
/* / BG Light Header / */

.bg-light .navbar-nav .nav-link, 
.bg-light .navbar-nav .nav-link.active, 
.bg-light .navbar-nav .nav-link.show, 
.bg-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
}
.bg-light .navbar-nav li .sub-menu {
    background-color: #f8f9fa;
}



/* 4 ------- Services Section Styles --------*/

.services .section-padding {
    padding-bottom: 0px;
}
.service-details {
    display: flex;
    flex-wrap: wrap;
}
.service-details .item {
    padding: 15px 15px;
}
.service-details .item:hover {
    color: #fff;
}
.service-details .item,
.service-details .item-icon,
.service-details .item-description {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.service-details .col-sm-6:first-child .item {
    border: 1px solid #f44336;
}
.service-details .col-sm-6:nth-child(2) .item {
    border: 1px solid #7dbb18;
}
.service-details .col-sm-6:nth-child(3) .item {
    border: 1px solid #00cccc;
}
.service-details .col-sm-6:nth-child(4) .item {
    border: 1px solid #ffcc00;
}
.service-details .col-sm-6:first-child .item-icon {
    color: #f44336;
}
.service-details .col-sm-6:nth-child(2) .item-icon {
    color: #7dbb18;
}
.service-details .col-sm-6:nth-child(3) .item-icon {
    color: #00cccc;
}
.service-details .col-sm-6:nth-child(4) .item-icon {
    color: #ffcc00;
}
.service-details .col-sm-6:first-child .item:hover {
    background: #f44336;
}
.service-details .col-sm-6:nth-child(2) .item:hover {
    background: #7dbb18;
}
.service-details .col-sm-6:nth-child(3) .item:hover {
    background: #00cccc;
}
.service-details .col-sm-6:nth-child(4) .item:hover {
    background: #ffcc00;
}
.service-details .item-icon {
    font-size: 5em;
}
.service-details .item-description {
    font-size: .8125em;
    padding-top: 12px;
}
.service-details .item:hover .item-icon,
.service-details .item:hover .item-description {
    color: #fff;
}
/* 5 -------- About Section Styles --------*/

.about-breifing {
    display: flex;
    flex-wrap: wrap;
}
.about-breifing .item {
    color: #fff;
    padding: 0px 15%;
}
.about-breifing .col-sm-6:first-child {
    background: #e6675a;
}
.about-breifing .col-sm-6:nth-child(2) {
    background: #e65d4e;
}
.about-breifing .col-sm-6:nth-child(3) {
    background: #e65243;
}
.about-breifing .col-sm-6:nth-child(4) {
    background: #f44336;
}
.item-no .count {
    font-size: 6.25em;
    font-weight: 300;
    letter-spacing: -15px;
}
.about-breifing .item-icon {
    font-size: 2.5em;
    padding-top: 15px;
}
.about-breifing .count-number {
    font-size: 1.56em;
}
.about-breifing .about-item {
    font-size: .8125em;
    text-transform: capitalize;
}
.about-top {
    clear: both;
}
.know-about-us .description {
    font-size: .8125em;
}
.about-top .btn {
    border: 2px solid #f44336;
}
.about-top .btn:hover {
    background: #f44336;
    color: #fff;
}
.progress {
    background: #fff;
    border-radius: 0px;
    box-shadow: none;
    ;
    height: 30px;
    margin-bottom: 15px;
}
.progress-bar {
    background: #f44336;
    display: block;
    font-size: 13px;
    line-height: 30px;
    padding-left: 25px;
    text-align: left;
}
.skill-name {
    padding-right: 5px;
}
.about-bottom .section-padding {
    display: flex;
    flex-wrap: wrap;
}
.tab-image {
    margin-left: -15px;
}
.about-work .description {
    font-size: .8125em;
    padding-right: 15%;
    padding-bottom: 8px;
}
/* 6 ------- Subscribe Section Styles ---------*/

.bg-overlay {
    background-color: rgba(231, 76, 60, 0.75);
}
.subscribe-section .section-description {
    color: #fff;
    padding: 0px 20%;
}
.subscribe-hide {
    padding-top: 30px;
    position: relative;
}
.subscribe input {
    border: 2px solid #fff;
    background: transparent;
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    height: 48px;
    max-width: 450px;
    padding: 15px 55px 15px 15px;
}
.subscribe input:focus {
    border: 2px solid #fff;
    outline: 0;
}
.subscribe button:focus {
    border: none;
    outline: 0;
}
#subscribe-submit {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 13px 40px;
    margin-top: -3px;
    margin-left: -5px;
}
#subscribe-loading {
    display: none;
    line-height: 45px;
    cursor: inherit;
}
#subscribe-loading:hover {
    color: inherit;
}
.subscribe-message {
    text-align: center;
    font-size: 1.125em;
}
.subscribe-error {
    color: #fff;
    position: absolute;
    background: rgba(52, 152, 219, 1);
    display: none;
    left: 25px;
    bottom: 60px;
    padding: 5px 10px;
    border-radius: 3px;
}
.subscribe-error:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px;
    border-color: rgba(52, 152, 219, 1) transparent transparent transparent;
    left: 25px;
    bottom: -24px;
}
/* 7 -------- Portfolio Section Styles ---------*/

.portfolio {
    background-color: #f9f9f9;
}
.portfolio-bottom .section-description {
    padding: 0px 25%;
    margin-bottom: 0px;
}
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
.itemFilter {
    clear: both;
    margin: auto;
    padding: 45px 0px;
    width: auto;
}
.itemFilter a {
    background-color: #fff;
    border: 2px solid #f44336;
    color: #a7a7a8;
    display: inline-block;
    font-size: .8125em;
    margin: 0 10px 15px 0px;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
.itemFilter .current {
    background-color: #f44336;
    border-color: #f44336;
    color: #fff;
}
.project-items .item {
    overflow: hidden;
    position: relative;
}
.project-items .item-details {
    width: 100%;
    bottom: 0px;
    opacity: 0;
    text-align: center;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.project-items .item:hover .item-details {
    opacity: 1;
    bottom: 50%;
}
.project-items .image-popup-vertical-fit {
    display: block;
    position: relative;
}
.project-items .image-popup-vertical-fit:before {
    content: '';
    background: rgba(231, 76, 60, 0.7);
    width: 0%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    opacity: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.project-items .item:hover .image-popup-vertical-fit:before {
    opacity: 1;
    width: 100%;
    left: 0px;
    top: 0px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.project-title {
    color: #fff;
    font-size: 1.15em;
    font-weight: 300;
}
.project-items .category {
    color: #fff;
    font-size: .8125em;
}
.latest-projects .btn-container,
.blog .btn-container {
    padding-top: 75px;
}
.latest-projects .btn,
.blog .btn {
    border: 2px solid #f44336;
    padding: 13px 30px;
}
.latest-projects .btn:hover,
.blog .btn:hover {
    background-color: #f44336;
    color: #fff;
}

/* 9 ------- Blog Section Styles --------*/
.post-area {
    display: flex;
    flex-wrap: wrap;
}
.blog .post-content {
    padding: 22px 0;
}
.blog .entry-title {
    font-weight: 700;
}
.blog .entry-title a {
    color: #333333;
}
.blog .entry-title a:hover {
    color: #f44336 !important;
}
.blog .entry-content {
    font-size: 1em;
    padding-top: 10px;
}

.page-head {
    background-size: cover;
    color: #fff;
}
.page-head .page-title {
    font-family: 'Belgrano';
    font-size: 3em;
    font-weight: 400;
    padding-top: 115px;
    text-transform: uppercase;
}
.page-head .page-title span {
    color: #f44336;
}
.page-description {
    color: #fff;
    font-size: .94em;
}
.page-status {
    background: #fafafa;
}
.breadcrumb {
    background: #fafafa;
    margin: 0px;
    padding: 0px;
}
.breadcrumb a {
    color: #a7a7a8;
}
.breadcrumb li {
    color: #a7a7a8;
    display: inline-block;
    font-size: .725em;
    padding: 10px 8px;
    position: relative;
}
.breadcrumb li:first-child {
    padding-left: 0px;
}
.breadcrumb li:before {
    content: '';
    background: transparent;
    height: 3px;
    width: 16px;
    left: -8px;
    position: absolute;
}
.breadcrumb li.active:before {
    background: #f44336;
}
.breadcrumb li+li:before {
    content: '';
}


.polmo-lite-page .overlay {
    background-color: rgba(13, 71, 161, 0.85);
}
.polmo-lite-page .section-title {
    color: #fff;
    font-size: 1.5625rem;
    margin: 0 0 7px;
    font-weight: 900;
    padding-bottom: .5rem;
    text-transform: uppercase;
}
.polmo-lite-page .section-padding{
    padding: 25px 0px 0px;
}
.logged-in.admin-bar .fixed-top .polmo-lite-page .section-padding{
    padding: 90px 0px 0px;
}
.logged-in.admin-bar .polmo-lite-page .section-padding{
    padding: 20px 0px 0px;
}
.polmo-lite-page .breadcrumb-trail.breadcrumbs{
    margin: -25px 0;
}
.polmo-lite-page .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.polmo-lite-page .breadcrumb li {
    color: #000;
    font-size: 0.9375em;
    position: relative;
}
.polmo-lite-page .breadcrumb a {
    color: #000;
    margin-right: 8px;
    text-transform: capitalize;
}
.polmo-lite-gray-bg{
    background-color: #f1f1f1;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 4px;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #000;
}
.background-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* 13 ----- Main Content Styles ------*/

.main-content {
    padding-top: 90px;
}
.main-content article {
    border-bottom: 1px solid #e8e8e8;
    padding: 100px 0px 40px 0px;
}
.main-content article:first-child {
    padding-top: 0px;
}
#blog-gallery .carousel-control {
    background-color: rgba(231, 76, 60, 0.8);
    top: 50% !important;
}
#blog-gallery .item {
    max-height: 370px;
    margin-bottom: 20px;
    overflow: hidden;
}
.post-head .entry-date {
    background: #f44336;
    border-radius: 0px;
    color: #fff;
    font-size: .75em;
    height: 70px;
    width: 70px;
    overflow: hidden;
    padding: 11px 20px 11px 20px;
}
.post-head .entry-date span {
    font-size: 2.12em;
}
.post-head .media-body {
    padding-left: 30px;
}
.entry-title {
    display: inline-block;
    font-size: 1.9em;
    margin: 0px;
}
.blog.group-blog .entry-title {
    font-size: 20px;
}
.entry-title a {
    color: #333333;
}
.entry-title a:hover {
    color: #f44336 !important;
} 
.single-post .post-thumbnail {
    padding-top: 20px;
}
.single-post .layout-3 .post-thumbnail {
    padding-top: 0;   
}
.share-post {
    display: inline-block;
}
.share-post a {
    background: #f2f2f2;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.share-post a:hover {
    background: #f44336;
    color: #fff;
}
.post-meta {
    color: #a7a7a8;
    font-size: .8125em;
    margin-top: 20px;
}
.post-meta a {
    color: #a7a7a8;
}
.post-meta a:hover {
    color: #f44336;
}
.entry-meta>div{
    padding-right: 15px;
}
.entry-meta .comments{
    margin-left: 60px;
}
.blog.group-blog .post-meta {
    padding-top: 10px;
}
.post-meta .comments{
    margin-top: -15px;
    margin-right: 10px; 
}
.entry-content {
    font-size: .8125em;
    line-height: 21px;
    padding-top: 12px;
}
.entry-content br {
    padding-bottom: 15px;
}
.post-tag {
    font-size: .8125em;
    padding-top: 10px;
}
.tag-list {
    padding-left: 15px;
    position: relative;
}
.tag-list:before {
    content: "\f02b";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0px;
    left: 0px;
    color: #f44336;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.tag-list a {
    color: #f44336;
    padding: 0px 5px;
    position: relative;
}
.tag-list a:before {
    content: '';
    height: 100%;
    width: 1px;
    background: #f44336;
    top: 0px;
    right: -2px;
    position: absolute;
}
.tag-list li:last-child a:before {
    content: '';
    display: none;
}
.attachmentlink {
  background: #00b8d4;
  color: #fff;
  font-family: 'Lato';
  font-size: 23px;
  font-weight: 700;
  padding: 40px 40px;
  position: relative;
  z-index: 0;
}
.attachmentlink:before {
  content: "\f0c6";
  color: #fff;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-size: 64px;
  top: -25px;
  right: 20px;
  opacity: 0.2;
  position: absolute;
}
.attachmentlink a {
  color: #fff;
  display: block;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  padding-top: 12px;
}
.page-navigation {
    padding: 0 0 3.5rem 0;
}
.pagination {
    margin: 0px;
    padding: 0px 0px 65px 0px;
}
.pagination a.active, .pagination a:hover {
    background-color: #f44336;
    color: #fff;
}
.pagination li {
    display: inline-block;
    font-size: .6875em;
}
.pagination li a,
.pagination li span {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0 !important;
    color: #999;
    font-size: 1rem;
    font-weight: 700;
    line-height: 45px;
    margin-right: 15px;
    padding: 0;
    text-align: center;
    padding: 5px 20px;

}
.pagination li.active a,
.pagination li.active a:hover {
    background: #fff;
    border-color: #f44336;
    color: #f44336;
}
/* 14 ------ Blog Single Post Styles -------*/

.single-post .post-blockquote {
  background: #f44336;
  border: none;
  color: #fff;
  font-family: 'Lato';
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  padding: 33px 40px;
  position: relative;
  word-spacing: 1px;
  z-index: 0;
}
.single-post .post-blockquote:before {
  content: "\f10d";
  color: #fff;
  font-family: 'FontAwesome';
  font-size: 96px;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: -1;
  opacity: 0.2;
} 
.single-post .post-author {
  color: #fccccc;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding-top: 30px;
  text-transform: uppercase;
}
.entry-content blockquote,
.entry-content blockquote p {
    border-color: #f44336;
    color: #f44336;
    font-size: 1em;
    font-weight: 700;
    margin: 37px 0px;
    padding: 0px 0px 0px 10px;
}
.author-bio-container {
    border-bottom: 1px solid #e8e8e8;
    padding: 25px 0px 35px 0px;
}
.author-avatar {
    padding-right: 30px !important;
}
.author-details .details-top {
    color: #333333;
    font-size: 1.25em;
    font-weight: 300;
}
.about-author {
    font-size: .8125em;
    padding-top: 3px;
}
#respond {
    padding-top: 25px;
}
#respond .title {
    color: #333333;
    font-size: 1.25em;
    font-weight: 300;
}
.comments-title,
.comment-reply-title {
    font-size: 25px;
    font-weight: 700;
    /* text-transform: uppercase; */
    padding-bottom: 25px;
}
.comment-form {
    padding-top: 7px;
}
.comment-form .form-control {
    border: 2px solid #e8e8e8;
    border-radius: 0px;
    box-shadow: none;
    font-size: .8125em;
    height: inherit;
    padding: 15px 15px;
}
.comment-form .form-control:focus {
    border: 2px solid #e8e8e8;
    outline: 0;
}
.comment-form input {
    max-width: 270px;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
}
.comment-form .btn {
    border: 2px solid #f44336;
    margin-top: 30px;
    padding: 13px 40px;
}
.comment-form .btn:hover {
    background: #f44336;
    color: #fff;
}
.comment-section {
    clear: both;
    padding: 75px 0;
}
.comment-author {
    padding-right: 30px !important;
}
.comment .author-name {
    font-size: 1.25em;
    font-weight: 300;
    text-transform: capitalize;
}
.comment .author-name a {
    color: #333333;
}
.reply-btn a {
    color: #f44336;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
}
.reply-btn a:hover {
    color: #333;
}
.comment-description {
    font-size: .9em;
    line-height: 22px;
    margin-bottom: 0px;
    padding-top: 3px;
}
.comment-time {
    color: #b7b1b1;
}
.comment-respond{
    padding: 0 !important;
}
.comment .children {
    padding: 45px 0px 25px 100px;
}
.logged-in-as a {
    color: #404040;
}
.logged-in-as a:hover {
    color: #f44336;
}
.blog-single-post .pagination a {
    border: none;
}
.window-location {
    padding: 70px 0px;
}
.window-location li {
    vertical-align: text-top;
    text-align: center;
}
.window-location a {
    color: #a7a7a8;
}
.post-close {
    margin-left: 20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.flaticon-login12:before {
    font-size: 2em;
}
/* 15 ------ Sidebar Styles ------*/
.widget li{
    word-break: break-word;
    line-height: 30px;
}
.widget.widget_polmo_lite_recent_posts {
    padding-bottom: 0 !important;
}
.sidebar {
    padding-left: 30px;
}

.sidebar article {
    border: none;
    clear: both;
    padding: 0px 0px 20px 0px;
    width: 100%;
}
.sidebar article:last-child {
    padding-bottom: 0px;
}
.sidebar .post-thumbnail {
    margin-right: 0;
    padding-top: 0;
    width: 70px;
}
.sidebar .entry-title {
    font-size: 1em;
}
.sidebar .entry-title a {
    color: #333;
    text-transform: capitalize;
    word-break: break-all;
}
.sidebar .post-meta {
    font-size: 1em;
    padding-top: 8px;
}
.sidebar .comments {
    color: #333333;
}
.search-form {
    border-bottom: 0 !important;
    position: relative;
}
.search-form .search-field {
    border: 2px solid #f44336;
    color: #f44336;
    font-size: .93em;
    padding: 12px 45px 12px 15px;
}
.search-form .search-field:focus {
    border: 2px solid #f44336;
    outline: 0;
}
.search-submit {
    background: transparent;
    border: none;
    color: #f44336;
    display: block !important;
    top: 50%;
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-right: 10px;
}
.search-submit:focus {
    border: none;
    outline: 0;
}
.social-list li{
    padding-bottom: 10px;
    padding-right: 10px;
}
.social-list a {
    background: #f44336;
    border-radius: 50%;
    color: #fafafa;
    display: inline-block;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    border: 1px solid #f44336;
    text-align: center;
    line-height: 40px;
}
.social-list a:hover {
    background: #fafafa;
    color: #f44336 !important;
}
.categories-list .form-control {
    background: #fff;
    border: 1px solid #a7a7a8;
    border-radius: 0px;
    color: #a7a7a8;
    height: inherit;
    padding: 15px 15px;
}
.archive-list li {
    display: block;
}
.archive-list a,
.cat-item a {
    color: #a7a7a8;
    display: block;
    font-size: 1.1em;
}
.archive-list a:hover,
.cat-item a:hover {
    color: #f44336;
}
.stream-list li {
    margin: 0px 5px 8px 0px;
    max-width: 70px;
}
li.cat-item {
    display: block;
}
.widget.widget_tag_cloud a,
.recentcomments a {
    color: #a7a7a8;
}
.widget.widget_tag_cloud a:hover,
.recentcomments a:hover {
    color: #f44336;
}
.recentcomments a,
.widget.widget_calendar a:hover {
    color: #f44336;
}
.recentcomments a:hover,
.widget.widget_calendar a {
    color: #404040;
}

/* 16 ------- Footer Section Styles ---------*/

footer {
    clear: both;
}
.footer-social .section-padding {
    padding: 60px 0px;
}
.footer-social .col-xs-4,.footer-social a  {
    color: #fff;
    padding: 0px;
}
.footer-social .col-xs-4:first-child {
    background-color: #3b5998;
}
.footer-social .col-xs-4:nth-child(2) {
    background-color: #00bdec;
}
.footer-social .col-xs-4:nth-child(3) {
    background-color: #e45c8f;
}
.footer-social .social-icon {
    font-size: 2.8em;
    padding-bottom: 5px;
}
.social-item .countdown {
    font-size: 1.52em;
}
.social-item .about-item {
    font-size: 1.25em;
    text-transform: lowercase;
}

/* 16.1 ------ Footer Top -------*/

.footer-top {
    background-color: #1e1e1e;
    color: #fff;
    clear: both;
}
footer .widget-title, .sidebar .widget-title {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 8px;
}
.footer-top a {
    color: #98a0a8;
    font-size: 1em;
    line-height: 26px;
}
.footer-top a:hover {
    color: #f44336;
}
.elementor-widget .widget-details nav li,
.widget-details nav li,
.title-list li {
    display: block;
    padding-bottom: 7px;
}
.elementor-widget .widget-details nav li a,
.title-list a {
    border-bottom: 1px solid #252525;
    padding-bottom: 7px;
}
.elementor-widget .widget-details nav li:last-child a,
.widget-details nav li:last-child a,
.title-list li:last-child a {
    border-bottom: none;
}
footer .widget_nav_menu li {
    display: block;
}
footer article.type-post {
    display: inline-block;
    padding-bottom: 15px;
}
footer article.type-post:last-child {
    padding-bottom: 0;
}
footer .post-thumbnail {
    max-width: 80px;
    padding-top: 0;
}
footer .post-content {
    padding: 0 0 0 90px !important;
}
footer .entry-title a {
    color: #98a0a8 !important;
    font-size: 14px;
}
footer .post-content .entry-date,
footer .post-content .comments {
    display: inline-block;
}
footer .post-content .comments {
    padding-left: 10px;
}
.photo-list {
    margin-top: 15px;
}
.photo-list li {
    max-width: 70px;
    max-height: 70px;
    margin: 0px 8px 10px 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.photo-list li:hover {
    border: 4px solid #fff;
}
.photo-list a {
    display: inline-block;
    position: relative;
}
.photo-list a:before {
    content: '';
    background: rgba(231, 76, 60, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    position: absolute;
}
.photo-list a:hover:before {
    opacity: 1;
}
.photo-list li img {
    max-width: 100%;
    height: auto;
}
.taglist li {
    margin: 0px 2px 10px 0px;
}
.taglist a {
    background: #282a2e;
    color: #fff;
    padding: 5px 10px;
}
.widget .subscribe-hide {
    padding-top: 0px;
    position: relative;
}
.widget .subscribe input, 
.mc4wp-form input {
    border: 2px solid #a7a7a8;
    background: transparent;
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    height: 48px;
    max-width: 450px;
    padding: 15px 55px 15px 15px;
    margin-bottom: 20px;
}
.widget .subscribe input:focus, 
.mc4wp-form input:focus {
    border: 2px solid #a7a7a8;
    outline: 0;
}
.widget .subscribe button:focus,
.mc4wp-form button:focus {
    border: none;
    outline: 0;
}
.widget #subscribe-submit, 
.mc4wp-form input[type="submit"] {
    background-color: #f44336;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    padding: 12px 20px;
}
.widget #subscribe-loading {
    display: none;
    line-height: 45px;
    cursor: inherit;
}
.widget #subscribe-loading:hover {
    color: inherit;
}
.widget .subscribe-message {
    text-align: center;
    font-size: 1.125em;
}
.widget .subscribe-error, .mc4wp-form .mc4wp-response {
    color: #fff;
    background: rgba(52, 152, 219, 1);
    display: none;
    left: 25px;
    bottom: 60px;
    padding: 5px 10px;
    border-radius: 3px;
}
.widget .subscribe-error:after, .mc4wp-form .mc4wp-response {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px;
    border-color: rgba(52, 152, 219, 1) transparent transparent transparent;
    left: 25px;
    bottom: -24px;
}
footer table {
    color: #a7a7a8 !important;
}
footer table caption {
    color: #fff;
}
footer .widget.widget_calendar a {
    color: #a7a7a8 !important;
}


/* Popular Posts */
.widget.widget_polmo-lite-popular-posts{
    position: relative;
}
.widget .entry-title {
    color: #333;
    margin: 0 0 5px;
}
.widget.widget_polmo-lite-popular-posts .post-content {
    margin: 0;
}


/* 16.2 ----- Footer Bottom ------*/

.footer-bottom {
    background: #282a2e;
    color: #686c77;
    font-family: 'Lato';
    font-size: 1.2em;
    line-height: 25px;
    padding: 30px 0px 50px;
}
.footer-bottom .widget {
    margin: 0;
}
.footer-bottom a {
    color: #f44336;
}
.footer-bottom a:hover {
    color: #686c77;
}
.footer-menu a {
    padding-left: 13px;
}
.footer-bottom .widget_nav_menu li {
    display: inline-block;
}


/* 17 --------- Scroll To Top ----------*/

.scroll-to-top {
    position: fixed;
    right: 35px;
    bottom: 35px;
    font-size: 1.5em;
    height: 40px;
    width: 40px;
    background-color: #f44336;
    color: #fff;
    line-height: 40px;
    color: #fff;
    text-align: center;
    opacity: .3;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.scroll-to-top:hover {
    opacity: 1;
}
.read-more{
    color: #f44336;
}

/* .logged-in.admin-bar header#masthead{
    top: 32px;
}
 */

.layout-grid article.post{
    padding: 0;
    padding-right: 30px;
}
.layout-grid article.post::last-child{
    padding-right: 0;
}
.layout-masonry .post-inner, .layout-grid .post-inner {
    -webkit-box-shadow: 0px 23px 49px 0px rgba(61, 82, 96, 0.15);
    box-shadow: 0px 23px 49px 0px rgba(61, 82, 96, 0.15);
    margin: 0 0 50px;
}
.layout-masonry .hentry, .layout-grid .hentry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
    margin: 0;
    border: 0;
}
.layout-grid .cat-links{
    background-color: #eff1f4;
    color: #bfbfbf;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    padding: 9px 15px;
    line-height: 1;
    border-radius: 15px;
    display: inline-block; 
}
.layout-grid article .entry-footer{
    padding-bottom: 1.5rem;
}
.blog .layout-grid .post-content{
    padding: 20px;
}
.blog .layout-grid .post-head .media-body{
    padding-left: 20px;
}
.layout-grid .entry-title,
.layout-two-columns .entry-title{
    font-size: 1.5em;
    padding-top: 5px;
}
.blog-posts .layout-two-columns{
    padding-right: 30px;
}
.layout-two-columns article{
    padding-top: 0;
    padding-right: 30px;
    border-bottom: 0;
}
.page-header{
    padding-bottom: 50px;
    margin-left: -15px;
}
@media (max-width: 768px) {
    article.post {
        padding: .75rem 0;
    }
}
article.post:first-child {
    padding-top: 0;
}
article.post:last-child {
    border-bottom: none;
}









.widget ul,
.widget ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget ul.children,
.widget ol.children,
.widget ul.sub-menu{  
  padding-left: 20px;
}
.widget ul.children li,
.widget ul.sub-menu li{
  padding-top: 10px !important;
}
.textwidget p{
  padding-bottom: 20px;
}
.sidebar .widget {
    margin-bottom: 3.5rem;
}
.sidebar .widget:last-child {
    margin-bottom: 0;
}
.widget .search-form, .elementor-widget .search-form {
    position: relative;
    z-index: 0;
}
.widget .search-form:before, , .elementor-widget .search-form:before {
    content: "\e090";
    color: #262626;
    font-family: 'simple-line-icons';
    font-size: 1.5rem;
    height: 75px;
    line-height: 75px;
    width: 60px;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
}
.widget .search-form input, .elementor-widget .search-form input {
    background-color: #fff;
    border: 2px solid #e2e7ea;
    border-radius: 0;
    box-shadow: none;
    color: #999;
    font-size: 1rem;
    font-weight: 700;
    height: 75px;
    padding: 15px 3.75rem 15px 1rem;
}
.widget .search-form input[type="submit"], .elementor-widget .search-form input[type="submit"] {
    background-color: transparent;
    border: none;
    font-size: 0;
    height: 75px;
    width: 60px;
    right: 0;
    top: 0;
    position: absolute;
}
.widget .widget-title.widget .widget-title {
    color: #262626;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: .8125rem;
    padding-bottom: 1.125rem;
    position: relative;
    text-transform: capitalize;
}
.sidebar .widget li {
    list-style: none;
}
.widget_archive li,.widget_categories li {
    border-bottom: 2px #e2e7ea dashed;
    transition: all 0.3s ease;
}
.widget_categories li:hover,.widget_archive li:hover {
    border-bottom-color: #4d4d4d;
    padding-left: 10px; 
}
.widget_categories a,.widget_archive a {
    color: #4c4c4c;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    position: relative;
}

.widget_categories ul li a:before, .widget_archive ul li a:before {
    font-family: 'simple-line-icons';
    content: "\e071";
    font-size: 10px;
    color: #000;
    position: absolute;
    left: 0;
    top: 20px;
}
.widget label{
    display: block;
}
.widget ul.children li, 
.widget ul.sub-menu li {
    margin-top: -20px !important;
    border-bottom: none;
}
.widget ul.children li:first-child,
.widget ul.children li:last-child,
.sidebar .widget li:last-child{
    border-bottom: none;
}
.widget .page_item_has_children ul.children li, 
.widget .page_item_has_children ul.children li:first-child, 
.widget .page_item_has_children ul.children li:last-child, 
.widget .page_item_has_children ul.sub-menu li {
    margin-top: 5px !important;
    border-bottom: none;
}

.widget_categories li:hover a,
.widget_categories li:hover i,
.widget_archive li:hover a,
.widget_archive li:hover i {
    color: #ffd200;
}
.widget_categories i,.widget_archive i {
    color: #000;
    font-size: 10px;
    margin-right: 3px;
}
.sidebar article.post {
    border: none;
    margin-bottom: 1.75rem;
    padding: 0 !important;
}
aside.sidebar .entry-thumbnail {
    max-width: 120px;
    margin-bottom: 0;
    margin-right: 1rem;
}
.widget .entry-title {
    font-size: 1rem !important;
    font-weight: 600;
}
.widget .entry-title,
.widget .entry-content{
    padding-top: 0;
}
.widget .entry-content{
    margin: 0;
}
.widget .entry-meta {
    color: #999;
    font-size: 1rem;
}
.widget .entry-meta i {
    font-size: 1.25rem;
}
.widget_tag_cloud a {
    background-color: #f5f5f5;
    color: #999;
    display: inline-block;
    float: left;
    font-size: 1rem;
    font-weight: 700;
    line-height: 38px;
    margin: 0 15px 15px 0; 
    padding: 0 13px;

    transition: all 0.3s ease;
}
.widget_tag_cloud a:hover {
    background-color: #ffd200;
    color: #fff;
}

/* Select Widget */
.widget select{
    width: 100%;
}

/* RSS */
.widget_rss li .rss-date {
    font-weight: 300;
    font-style: italic;
    display: block;
}
.widget_rss li .rssSummary{
    font-weight: 300;
    display: block;
    padding: 10px 0;    
}

/* Pages widget */
.widget li:first-child{
    padding-top: 0;
}
.widget ul li a{
    color: #4c4c4c;
}
.sidebar .widget ul li, 
.sidebar .widget ol li{
    color: #4c4c4c;
    font-size: 1em;
    list-style: none;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    position: relative;
    transition: all 0.3s ease;
}

ul.social-list li, 
ul.social-list li{
    display: inline-block;
}

/* Calendar Widget */

th, td {
    border: 1px solid #ebebeb;
    padding: 15px;
    text-align: center;
}
/* Popular Post Widget */
.blog-widgets .widget-details{
  margin-top: 30px;
}
.widget.widget_polmo-lite-popular-posts, .elementor-widget .popular-posts-widget{
  position: relative;
}
.blog-widgets .widget.widget_polmo-lite-popular-posts article, .elementor-widget .popular-posts-widget article{
  padding-bottom: 20px;
}
.blog-widgets .widget.widget_polmo-lite-popular-posts .entry-title, .elementor-widget .popular-posts-widget .entry-title{
  padding: 0;
  text-align: left;
}
.widget.widget_polmo-lite-popular-posts .entry-title, .elementor-widget .popular-posts-widget .entry-title{
  font-size: 18px;
  line-height: 24px;
}
.widget.widget_polmo-lite-popular-posts .entry-thumbnail img, .elementor-widget .popular-posts-widget .entry-thumbnail img{
  border-radius: 10px;
  margin-right: 20px; 
}
.widget.widget_polmo-lite-popular-posts .entry-meta time,
.single .author-details .nickname,
.single .comment-list .comment-metadata .time time{
  padding-left: 20px;
}
.single .comment-list .comment-metadata .time:before{
  margin-top: 9px;
}
.widget.widget_polmo-lite-popular-posts .entry-content, .elementor-widget .popular-posts-widget .entry-content{
  margin: 0;
}
.elementor-widget .popular-posts-widget .entry-title a,
.elementor-widget .popular-posts-widget .entry-meta,
.elementor-widget .popular-posts-widget p{
    color: #b5b5b6;    
}
.elementor-widget .popular-posts-widget .entry-title,
.elementor-widget .popular-posts-widget .entry-content{
    padding-top: 0 !important;
}
/* .widget .entry-title, .widget .entry-content */